@model IEnumerable<AnimeRatingSite.Models.Anime>

@{
    ViewData["Title"] = "Anime Series";
}

<h1>Anime Series</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark table-striped table-hover sortable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="sorttable_nosort">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th class="sorttable_nosort"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnimeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
